.root__nav{
    width: 150px;
    
}

.root__nav li{
    list-style-type: none;
    background: rgb(0, 0, 0);
    padding-left: 0;
    cursor: pointer;
    color: white;
    position: relative;
}

.root__nav a, .root__nav span{
    text-decoration: none;
    display:block;
    padding: 5px 10px;
    color: white;
}

.root__nav ul{
    display: none;
    position: absolute;
    right: -150px;
    width: 150px;
    top: 0;
  
}   

ul.sub-menu-active {
    display: block;
}

