* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section::before {
    content: '';
    position: absolute;
    
    width: 240px;
    height: 240px;
    background: linear-gradient(#f3f5f5, #9b78b0);
    border-radius: 50%;
    transform: translate(-160px, -190px);
}
 
section::after {
    content: '';
    position: absolute;
    
    width: 240px;
    height: 240px;
    background: linear-gradient(#f3f5f5, #442258);
    border-radius: 50%;
    transform: translate(190px, 200px);
}

.box {
    position: relative;
    width: 240px;
    height: 300px;
    background: rgba(255, 255,255 0.8);
    box-shadow: 0 35px 45px rgba(0,0,0, 0.25);
    /* border: 1px solid rgb(126, 75, 75); */
    border: 1px solid rgba(182, 109, 109, 0.3);
    backdrop-filter: blur(20px);
    z-index: 1;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

h3 {
    color: purple;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box .batteryShape {
    position: relative;
    width: 60px;
    height: 140px;
    margin: 20px 0;
    border: 2px solid black;
    border-radius:  15px;
    cursor: pointer;
}

.batteryShape::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 6px;
    background: black;
    border-radius: 3px;
}



.batteryShape::after {
    content: '';
    position: absolute;
    left: 4px;
    /* top: 4px; */
    right: 4px;
    bottom: 4px;
    width: 50%;
    height: 94%;
    background:rgba(1, 63, 1, 0.25);
    border-radius: 10px 0 0px 10px;
}

.level {
    top: 4px;
    left: 4px; 
    right: 4px;
    bottom: 4px;
    position: absolute;
    background: rgb(80, 185, 80);
    border-radius: 10px;
}

.box:hover {
    /* transform: scale(1.5);  */
    transition: 1s;
    transform: rotate(40deg) scale(1.5);
}

.percentage {
    background: rgb(32, 109, 68);
    width:100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
}