.box{
    width: 50px;
    height: 50px;
    background: black;
    margin: 2px;
    border-radius: 20%;
}

.black{ 
    background: black;
}

.red { 
    background: red;
}

.main__box {
    width: 200px;
    margin: 0 auto;
    display: flex;
}

.wrapper{
    margin: 0 auto;
    width: 1140px;
    margin-top: 40px;
}

.change {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    background: pink;
    margin-top: 20px;
    margin-left: 20px;
}