*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(123,226,189,1) 35%, rgba(0,212,255,1) 100%);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid rgba(32, 79, 88, 0.5);
    outline: none;
    background-color: rgba(0,212,255,1);
    border-radius: 3%;
}

.calculator-grid > button:hover {
    background-color:rgba(0,212,255,0.5);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0,212,255,0.5);
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .before-operand{
    font-size: 1.3rem;
}

.output .after-operand{
    font-size: 2rem;
}